# ⚠️ NOTE: Any variables containing a dollar sign, $, need to be escaped with \)

# Version
# ======================================================
VERSION="0.1.0" # 👈 Set the version of your application here

# Postgres
# ======================================================

# System ownership variables for Postgres data directory
SYSTEM_OWNERSHIP="1000" # 👈 Set this to your server's user's uid (id -u)

# General Postgres connection variables
POSTGRES_SERVER="db" # 👈 Set to "db" for production and "localhost" for development and delete this comment
POSTGRES_DB="the-docs_meta"
POSTGRES_USER="the-docs_meta"
POSTGRES_PASSWORD="" # 👈 Set your own password here and delete this comment

# Postgres connection URL
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:5432/${POSTGRES_DB}?schema=development" # 👈 Set schema to development for development, otherwise set to public or any schema of your choice (e.g. staging)

# pgAdmin
PGADMIN_DEFAULT_EMAIL="" # 👈 Set the pgAdmin admin email here
PGADMIN_DEFAULT_PASSWORD="" # 👈 Set the pgAdmin admin password here

# Ports
# ======================================================

PGADMIN_PORT=8080
THEDOCSAPP_PORT=8000

# Outgoing email
# ======================================================
EMAIL_SMTP_HOST="" # 👈 Set the email server URL that Kudos will use to send outgoing emails from
EMAIL_SMTP_PORT=465
EMAIL_SMTP_FROM="" # 👈 Set the email address that Kudos will use to send outgoing emails from
EMAIL_SMTP_USER="" # 👈 Set the email username here delete this comment
EMAIL_SMTP_PASS="" # 👈 Set the email password here